html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: wheat;
}

body {
  display: grid;
  grid-template-rows: 60px calc(100vh - 60px);
  grid-template-areas: "header" "main";
}

header{
  border: 1px black solid;
  color: white;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#view2Div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#infoDiv {
border:none
}

#infoDiv input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

main, .list, .map {
  border: 1px black solid;
}

main {
  overflow-y: auto;
  display: grid;
  grid-template-rows: calc(100vh - 60px - 50px) 50px calc(100vh - 60px - 50px);
  grid-template-areas: "map" "toggle" "list";
}

#left{
  width: 100%;
  height: 3%;
  background-color: wheat;
  justify-content: right;
  padding-left: 2%;
  display: table-cell; 
  vertical-align: middle;
}

#button1 {
  display:inline-block;
  /**other codes**/
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 2px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  }

  #button2 {
    display:inline-block;
    /**other codes**/
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 1% 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

  #logoDiv {
    padding: 1px;
    background-color: black;
    color: pink;
    text-align: center;
    width: 50px;
  }
  

@media (min-width: 6000px) {
  main {
    grid-template-rows: unset;
    grid-template-columns: minmax(200px, 3fr) 9fr;
    grid-template-areas: "list map";
  }

  .toggle {
    display: none;
  }
}

.map {
  grid-area: map;
}

.toggle {
  grid-area: toggle;
}

.list {
  grid-area: list;
  overflow: auto;
}
